<div class="ui basic segment">
    <p>{{ product.shortDescription }}</p>
    <p>
        {% trans %}sylius.ui.color{% endtrans %} <span class="ui medium empty label" style="background-color: {{ product.color }}"></span>
    </p>
</div>
